h1{
    color: crimson;
    font-family: cursive;
    text-align: center;
    background-color: aqua;
    padding: 30px;
    border: 2px double green;
}

h2{
    color: greenyellow;
    background-color: brown;
    padding: 5px;
    border-radius: 30px;
    border: 2px dotted dodgerblue;
    display: inline-block;
}

h3{
    color: chartreuse;
    background-color: red;
    text-align: center;
    padding: 10px;
    border: 1px solid gold;
    border: 10px;
}
img{
    height: 200px;
    width: 150px;
    border: 3px double black;
}

p{
    color: red;
    font-family: cursive;
    border: 2px double green;
    background-color: antiquewhite;
}

.box{
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 20px;
    align-items: center;
}

mark{
    color: rgb(214, 12, 25);
    border: 2px solid salmon;
}